
@{
    ViewBag.Title = "#Lando2018 - Gifts";
}

<div class="row" id="gift">
    <div class="col-xs-12"><h2>Gifts</h2></div>

    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8 " id="giftpoem">
            <p>As our wedding day draws near</p>
            <p>We hope our sentiment is clear</p>
            <p>We need you there as we are wed </p>
            <p>To witness our love as vows are said </p>
            <p>-</p>
            <p>But as for gifts, please please don’t try</p>
            <p>To find the ideal thing to buy</p>
            <p>We have no list of pots and pans</p>
            <p>Just hopes and dreams and honeymoon plans</p>
            <p>-</p>
            <p>So if a gift is on your mind</p>
            <p>A contribution would be kind</p>
            <p>It will help us more than words can say</p>
            <p>To celebrate our special day</p>
            <p>-</p>
            <p>Thank you</p>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>
<hr />
<div class="row">
    <span class="glyphicon glyphicon-heart"></span>
</div>
<hr />

<div class="row">
    <div class="col-xs-12 "><p class="p-center">If you want to contribute to our honeymoon, please feel welcome to transfer to our bank account</p></div>
    <div class="col-xs-12 "><p class="p-center"><span class="glyphicon glyphicon-warning-sign"></span> <i>We are in the process of setting up our first joint bank account as a married couple, but it's not quite ready yet!  Come back next week</i></p></div>
</div>
