body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #BDBEC1;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
}

h1, h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    font-weight: bold; 
}
h3, h4 {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    font-weight: bold;
}
p {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
}

.thick {
    font-weight: bold;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    margin-top: 60px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Customise navbar*/
.navbar {
    background-color: #FDF4BB;
    border: none;
    border-bottom: grey;
    font-family: 'Amatic SC', cursive;
}

.navbar-inner {
    min-height: 0;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 50px;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
}

/*Center navbar*/
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse {
    text-align: center;
    width: auto;
}

/* make the brand clickable and return to home page */
.navbar-brand {
    position: relative;
}
.clickable {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;     
  z-index: 1;
}


/* For wide screens, pad right to centralise,
    accounting for the width of the brand img*/
@media all and (min-width: 1100px) {
    .navbar .navbar-collapse {
        padding-right: 250px;
    }
    .navbar-brand > img {
        width: 250px;
        height: 50px;
    }
}

@media all and (min-width: 768px) and (max-width: 1099px) {
    .navbar .navbar-collapse {
        padding-right: 50px;
    }

    .navbar-brand > img {
        width: 150px;
        height: 30px;
    }
}

@media all and (max-width: 767px) {
    .navbar-brand > img {
        width: 150px;
        height: 30px;
    }
}

/*Hover navbar text colour*/
.navbar-fixed-top .navbar-nav > li > a:hover,
.navbar-fixed-top .navbar-nav > li > a:focus {
    color: #6D6E70;
}

/* Round images */
.img-circle {
    border-radius: 50%;
    max-width:95%;
    max-height:95%;
    padding: 5%;
}

.p-banner {
    font-size: 30px;
}

.p-justify {
    text-align: justify
}

.p-center {
    text-align: center
}

/* Line seperators */
hr {
    border-top: 1px solid #FDF6B9;
    width: 30vw;
}

/* Jumbotron background image*/
.jumbotron {
    margin-bottom: 0;
    background-image: url("https://landowedding.blob.core.windows.net/public-img/italy-like-a-bird.jpg");
    background-position: 0 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    height: 65vh;
    opacity: 0.7;
}

/*Jubotron quote settings */
#quote {
    text-align: center;
    font-family: 'Great Vibes', cursive;
}

/*Jumbotron quote fits on 1 line*/
@media all and (min-width: 960px) {
    #quote { font-size: 30px; }
}
@media all and (max-width: 959px) {
    #quote { font-size: 4.5vw; }
}

/* Home Page Details */
#weddingNote, #receptionNote, #popNote {
    font-style: italic;
    font-size: 120%;
}

/* Description paragraphs sit in centre of screen*/
.p-description {
    margin: 0 5% 5%;
}

.p-center-md-4 {
    margin: 0 5% 5% 5%;
}

@media all and (min-width: 960px) {
    .p-center-md-4 {
        margin: 0 33% 5% 33%;
    }
}

@media all and (max-width: 959px) {
    #quote {
        font-size: 4.5vw;
    }
}

#venuemap {
    margin: 0 5% 5%;
}

/* Rsvp Form*/
/* Color of invalid field */
.has-error .control-label,
.has-error .help-block,
.has-error .form-control-feedback {
    color: #a94442;
}

/* Color of valid field */
.has-success .control-label,
.has-success .help-block,
.has-success .form-control-feedback {
    color: #3c763d;
}

/* Gift poem text*/
#giftpoem > p {
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
}

.gallery {
    margin-bottom: 20px;
}
.gallery-download {
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    padding-top: 10px;
}

