
@{
    ViewBag.Title = "#Lando2018 - Gallery";
}

<div class="row" id="gallery">
    <div class="col-xs-12"><h2>Wedding</h2></div>

    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8 " id="weddinggallery">
            <p>Watch this space, the #Lando2018 wedding photos will be landing very soon!</p>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>
<div class="row">
    <span class="glyphicon glyphicon-heart"></span>
</div>
<div>
    <div class="col-xs-12"><h2>Honeymoon</h2></div>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8 " id="honeymoongallery">
            <!--https://www.publicalbum.org/blog/embedding-google-photos-albums-->
            <script async src="https://www.publicalbum.org/js/pa-ins.min.js"></script>
            <ins class="pa-widget-gallery" style="width:100%;height:480px;"
                 data-url="https://photos.app.goo.gl/Jcd9vGeetx1cGBg56"
                 data-uid="b1754c2a5cb9c54efcf8c0d2aeff39025c684896de5ef4866650f10c24d2e537"
                 data-delay="2"
                 data-repeat="true"></ins>
        </div>
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <p class="p-justify"> To download photos or leave comments, please visit the full album on <a href="https://photos.app.goo.gl/Jcd9vGeetx1cGBg56">Google photos</a></p>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <span class="glyphicon glyphicon-heart"></span>
</div>
<hr />
