
@{
    ViewBag.Title = "#Lando2018 - Gallery";
}

<!--https://www.publicalbum.org/blog/embedding-google-photos-albums-->
<!--<script async src="https://www.publicalbum.org/js/pa-ins.min.js"></script>-->
<script src="../../juicebox/jbcore/juicebox.js"></script>

<div class="col-xs-12"><h2>Photos</h2></div>
<div class="row">
    <p><i>Credit and the warmest of thanks go to our amazing local photographers Phil and Giles</i></p>
    <div class="col-xs-12 col-md-6">
        <h3>Wedding Morning</h3>
        <div class="gallery" style="height: 300px;">
            <!--START JUICEBOX EMBED-->
            <script type="text/javascript">
                new juicebox({
                    containerId: 'jb-container-morning',
                    baseURL: '../../juicebox/morning/',
                    galleryWidth: '100%',
                    galleryHeight: '100%',
                    backgroundColor: 'rgba(34,34,34,1)'
                });
            </script>
            <div id="jb-container-morning"></div>
            <!--END JUICEBOX EMBED-->
        </div>
        <p class="gallery-download"><a href="https://flic.kr/s/aHskBcBWTH">View on Flikr and Download!</a></p>
    </div>
    <div class="col-xs-12 col-md-6">
        <h3>Wedding Ceremony</h3>
        <div class="gallery" style="height: 300px;">
            <!--START JUICEBOX EMBED-->
            <script type="text/javascript">
                new juicebox({
                    containerId: 'jb-container-ceremony',
                    baseURL: '../../juicebox/ceremony/',
                    galleryWidth: '100%',
                    galleryHeight: '100%',
                    backgroundColor: 'rgba(34,34,34,1)'
                });
            </script>
            <div id="jb-container-ceremony"></div>
            <!--END JUICEBOX EMBED-->
        </div>
        <p class="gallery-download"><a href="https://flic.kr/s/aHsmiX8iZu">View on Flikr and Download!</a></p>
    </div>
    <div class="col-xs-12 col-md-6">
        <h3>Wedding Reception</h3>
        <div class="gallery" style="height: 300px;">
            <!--START JUICEBOX EMBED-->
            <script type="text/javascript">
                new juicebox({
                    containerId: 'jb-container-reception',
                    baseURL: '../../juicebox/reception/',
                    galleryWidth: '100%',
                    galleryHeight: '100%',
                    backgroundColor: 'rgba(34,34,34,1)'
                });
            </script>
            <div id="jb-container-reception"></div>
            <!--END JUICEBOX EMBED-->
        </div>
        <p class="gallery-download"><a href="https://flic.kr/s/aHsmiX9Upj">View on Flikr and Download!</a></p>
    </div>
    <div class="col-xs-12 col-md-6">
        <h3>Pop in the Park</h3>
        <div class="gallery" style="height: 300px;">
            <!--START JUICEBOX EMBED-->
            <script type="text/javascript">
                new juicebox({
                    containerId: 'jb-container-pop',
                    baseURL: '../../juicebox/pop/',
                    galleryWidth: '100%',
                    galleryHeight: '100%',
                    backgroundColor: 'rgba(34,34,34,1)'
                });
            </script>
            <div id="jb-container-pop"></div>
            <!--END JUICEBOX EMBED-->
        </div>
        <p class="gallery-download"><a href="https://flic.kr/s/aHskBcFabn">View on Flikr and Download!</a></p>
    </div>
</div>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8 " id="groupphotogallery">
        <h3>Group Photos</h3>

        <div class="gallery" style="height: 500px;">
            <!--START JUICEBOX EMBED-->
            <script type="text/javascript">
                    new juicebox({
                        containerId: 'jb-container-group',
                        baseURL: '../../juicebox/group/',
                        galleryWidth: '100%',
                        galleryHeight: '100%',
                        backgroundColor: 'rgba(34,34,34,1)'
                    });
            </script>
            <div id="jb-container-group"></div>
            <!--END JUICEBOX EMBED-->
            <p class="gallery-download"><a href="https://flic.kr/s/aHsmeWX7s1">View on Flikr and Download!</a></p>
        </div>
    </div>
    <div class="col-xs-2"></div>
</div>
<div class="row">
<span class="glyphicon glyphicon-heart"></span>
</div>
<hr />

<p>Print quality versions of all photos are available on request, just ask or email <a href="mailto:landyshared@gmail.com">landyshared@gmail.com</a></p>

<hr />
<div class="row">
<div class="col-xs-12">
        <h3>Honeymoon</h3>
            
        <p class="gallery-download"><a href="https://photos.app.goo.gl/Jcd9vGeetx1cGBg56">View our best honeymoon pics in Google Photos!</a></p>
    </div>
</div>
<hr />

<div class="row">
<span class="glyphicon glyphicon-heart"></span>
</div>
<hr />
<div class="row" id="videos">
<div class="col-xs-12"><h2>Films</h2></div>
<div class="col-xs-12">
    <p>Please click the following to view the highlights of the day and a feature film (password: l&a)</p>
    <p>Credit goes to <a href="www.newlywedfilms.com">Newlywed Films</a></p>
    <p class="gallery-download" style="margin-top:20px"><a href="https://vimeo.com/278235468">Highlights</a></p>
    <p class="gallery-download" style="margin-top:20px"><a href="https://vimeo.com/278236134">Feature</a></p>
</div>
</div>

<div class="row">
    <span class="glyphicon glyphicon-heart"></span>
</div>